body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

header {
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;

    display: flex;
    justify-content: center;

    padding-top: 50px;
}

main {
    background-color: red;
    margin-left: 122px;
    margin-right: 116px;
    padding-top: 58px;

    display: flex;
    flex-direction: row;
    
}

.carta {
    width: 200px;
    height: 250px;
    position: relative;

    background-color: #A7E9AF;
    /* background-image: url("assets/front.png");
    background-size: 100px; */

    width: 117px;
    height: 146px;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
  }

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.carta:hover .back-face {
    transform: rotateY(0deg);
}

.carta:hover .front-face {
    transform: rotateY(-180deg);
}

.carta img {
    width: 100px;
    height: 100px;
    object-fit: cover;

    padding: 24px 7px 22px 10px;
}

@media(max-width: 335px) {
    header {       
        width: 100%;
        padding-top: 47px;

        font-style: normal;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;

        
    }

    main {
        width: 100%;
        flex-direction: column;
        align-items: center;

        padding-top: 36px;


    }
}
